@tailwind base;
@tailwind components;
@tailwind utilities;

.containeer {
    background-image: url("https://gifdb.com/images/featured/kuromi-i2mija5fgmceshb0.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 100px;
    margin-left: 100px;
    display: flex;
    box-shadow: 5px 5px 5px black;
}

.a {
    background-image: url("https://static.vecteezy.com/system/resources/previews/024/605/901/original/cute-rabbit-with-his-bear-friend-playing-on-the-clouds-free-vector.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 60px 100px 100px 300px;
    text-align: right;
    align-items: 100px;
    width: 1350px;
    height: 650px;
    display: block;
}


.inne {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    text-align: center;
    margin-right: 130px;

}

.innna {
    margin-top: 35px;
    width: 100px;
    height: 30px;
    margin-right: 130px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    text-align: center;
    margin-bottom: 50px;
}

.innne {
    width: 100px;
    height: 30px;
    margin-right: 130px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    text-align: center;
    margin-bottom: 50px;
}

.buu {
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 60px;
    background-color: blueviolet;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.bu {
    width: 50px;
    height: 30px;
    text-align: center;
    background-color: blueviolet;
    border-radius: 10px;
    margin-left: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.b {
    background: linear-gradient(#8400ff, #000000);
    width: 350px;
    height: 350px;
    margin-left: 80px;
    border-radius: 100px;
    opacity: 0.8;
}


.dd {

    border-radius: 10px;
    padding-right: 500px;
    color: white;
    padding-bottom: 20px;
    font-family: cursive;
    text-shadow: 5px 5px 5px  grey;
}



.hh{
    margin-left: 450px;
    font-family: cursive;
    color: white;
}

.hhl{
   
    margin-left: 400px;
    border-radius: 100px;
    width: 600px;
    height: 500px;
}

.jj{
    background-color: rgb(55, 0, 107);
    width: 1350px;
    height: 650px;
}


